<div class="tab" id="tab-historial">
            <div class="tab-hdr">
                <h1 class="tab-title">Historial</h1>
                <p class="tab-sub">Tus sesiones de carga</p>
            </div>
            <div class="month-summary">
                <div class="ms-i"><div class="ms-v">6</div><div class="ms-l">Cargas</div></div>
                <div class="ms-d"></div>
                <div class="ms-i"><div class="ms-v">148.3 kWh</div><div class="ms-l">Energía</div></div>
                <div class="ms-d"></div>
                <div class="ms-i"><div class="ms-v">$892</div><div class="ms-l">Gasto</div></div>
            </div>
            <div id="history-list"></div>
        </div>