<!-- TOPBAR -->
    <header class="topbar">
        <div class="topbar-l">
            <button class="hamburger" onclick="toggleMenu()" aria-label="Abrir menú">
                <span></span><span></span><span></span>
            </button>
            <div class="tb-brand">⚡ <span>Electrolineras</span></div>
        </div>
        <div class="topbar-r">
            <button class="icon-btn" onclick="showToast('Sin notificaciones nuevas ')" aria-label="Notificaciones">
                <svg width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"><path d="M18 8A6 6 0 0 0 6 8c0 7-3 9-3 9h18s-3-2-3-9"/><path d="M13.73 21a2 2 0 0 1-3.46 0"/></svg>
            </button>
            <div class="avatar-chip" onclick="goTab('cuenta')" id="top-avatar-chip">--</div>
        </div>
    </header>